
@font-face {
	font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxia:before { content: "\f02a9"; }

.icon-anquanweishi:before { content: "\e639"; }

.icon-vertical_line:before { content: "\e63a"; }

.icon-shouye:before { content: "\e660"; }

.icon-jiantouxiajiang:before { content: "\e7f2"; }

.icon-zhiding:before { content: "\e6b6"; }

.icon-jiahao:before { content: "\e618"; }

.icon-weixin:before { content: "\e63d"; }

.icon-jianhaob:before { content: "\e6ca"; }

.icon-webicon213:before { content: "\e68b"; }

.icon-dianzan1:before { content: "\e61b"; }

.icon-QQ:before { content: "\e65e"; }

.icon-gouwuche-01:before { content: "\e60c"; }

.icon-xiangshang:before { content: "\e612"; }

.icon-shouji:before { content: "\e631"; }

.icon-wode:before { content: "\e605"; }

.icon-gouwuche:before { content: "\e624"; }

.icon-jiami:before { content: "\e619"; }

.icon-xiangshang1:before { content: "\e6bd"; }

.icon-xiangshang2:before { content: "\e9fb"; }

.icon-xiangxia1:before { content: "\e9fd"; }

.icon-fenlei-:before { content: "\e61a"; }

